body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 0em;

}

.top-header {
    width: 100%;
    height: 15%;
    left: 0px;
    top: 0px;
    background: #FFD241;
    position: fixed;
}

/*Styles for header and hamburger menu*/

#menu-toggle {
    opacity: 0;
}
.side-menu {
    visibility: hidden;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2.3vh;
    right: 2.3vw;
    width: 2.6em;
    height: 2.6em;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: .5em;
  background-color: #000;
}

.menu-btn > span::before {
    content: '';
    top: -.8em;
}
.menu-btn > span::after {
    content: '';
    top: .8em;
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ecb604;;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
.menu-item:hover {
    background-color: #dfcf9b;;
}

#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 80%;
}
#menu-toggle:checked ~ .side-menu {
    visibility: visible;
    left: 80%;
}

.name-header {
    display: flex;
    text-align: center;
    margin: 4em auto 2em;
    font-size: 3em;
}

div.name-header h2 {
    margin: 0 auto;
}

.wrapper {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
}

.form-header {
    display: flex;
    font-size: 3em;
}

/*Styles for card desk*/
.cards-desk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 45%;
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

div.card-content {
    padding-bottom: 1em;
}

article > a > img {
    max-width: 100%;
}

.card-image-price {
    position: relative;
    z-index: -1;
}

.price-box {
    position: absolute;
    background-color: #ecb604;
    width: calc(100%/2.3);
    height: calc(100%/4.3);
    top: calc(100% - 100%/4.3);

}
.price-content {
    display: inline-block;
    margin: 1em 1.4em;
    text-decoration: none;
    color: #000;
    font-size: 1.8em;
}

p.country-name {
    color: #C5B223;
    text-transform: capitalize;
    margin: 1rem 0;
}
p.tour-name {
    font-size: 1.8em;
    text-align: left;
    clear: both;
}
p.tour-route {
    max-width: 340px;
    color: #8C8C8C;
    line-height: 1.2em;
    padding-top: 1rem;
}
p.tour-dates {
    line-height: 1.3em;
    padding: .5rem 0;
    border: solid 1px white;
    margin-bottom: 1em;
}

span.addition {
    background-color: #CB0037;
    border-radius: 5px;
    text-align: center;
    border: solid 1px #CB0037;
    color: white;
    padding: .3rem 1rem;
}

/*Styles for form*/

.form-header {
    text-align: center;
    margin: 3rem auto;
}

div.about {
    font-size: 1.2em;
    letter-spacing: 0em;
    text-align: left;
    margin: 2rem 0;
}

span.about-text {
    border-bottom: solid 3px;
    font-size: 1.2em;
}

div.about-wrapper {
    display: flex;
    justify-content: space-between;
}

div.about-block {
    display: flex;
    flex-direction: column;
    width: 45%;
}
div.about-block > label,
div.messenger > label {
    font-size: 1.2em;
    letter-spacing: 0em;
    margin: .5rem 0;
}
div.about-block > input {
    min-height: 2rem;
    border: solid 1px #E7E7E7;
    padding: .5rem 1rem;
    font-size: 1.2em;
}
.about-block-messenger {
    max-width: 380px;
}

/*Checkbox*/


label .checkbox-messenger {
    display: block;
	margin: 0 0 10px 0;
    line-height: 22px;  
}

label {
    font-size: 10px;
    font-weight: bold;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: top;
	outline: none;
	transition: background 0.3s ease;
    cursor: pointer;
    border: solid 1px #E7E7E7;
}

/* Checked */
input[type=checkbox]:checked {
	background-image: url(https://snipp.ru/uploads/contents/checkbox-2.png);
}

/* Focus */
.focused input[type=checkbox] {
	box-shadow: 0 0 0 0.2rem #C5B223;
}

input[type=checkbox]:hover {
	filter: brightness(110%);
}

input[type=checkbox]:active {
    filter: brightness(80%);
}

/*messengers*/

.about-two-columns {
    display: flex;
    justify-content: space-between;
}

.messenger-column,
.source-column {
    width: 45%;
}
 
input.emails [type=checkbox] {
    display: inline-block;
}
/*agreement*/

div.subscribtion {
    display: flex;
    padding: 3em 0;
}

div.subscribtion-titles {
    padding-left: 1em;
}

div.subscribtion-titles > p{
    padding-bottom: 2em;
}

div.subscribtion-titles > p.subtitle {
    color: #C1C1C1;
}

.extra {
    padding-top: 2em;
}

span.star {
    color: red;
}

button.send {
    background-color: #FFD241;
    padding: 1em 2em;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 29.5px;
    font-size: 1.2em;

}

div.space {
    height: 5rem;
}


/*breakpoints*/
/*phone only */
@media screen and (max-width: 599px) { 
    body {font-size: 14px;}
    .cards-desk {flex-direction: column}
    .card, img.thumbnail,
    .price-box {width: 100%}
    .menu-btn > span {height: .5em; width: 5em; right: 3em}
    #menu-toggle:checked ~ .menu-box {left:50vw}
    div.about-wrapper,
    .about-two-columns {flex-direction: column; width: 100%;}
    div.source-column,
    div.messenger-column {width: 100%;}
}



/*tablet portrait up*/

@media screen and (min-width: 600px) { 
    .cards-desk {justify-content: space-around;}
 }

/*tablet-landscape-up*/
@media screen and (min-width: 900px) { 
    #menu-toggle:checked ~ .menu-box {left:70vw} }

/*desktop up*/
@media screen and (min-width: 1200px) { 
 }
/*big desktop up*/
@media screen and (min-width: 1800px) { 
 }

